/* 
  Ligne 3 - 68 => mediaquerries pour homepage
  Ligne 70 - 167 => mediaquerries pour pagesmenus
*/

// Media Querries pour la home page

@media screen AND (min-width: 500px) AND (max-width: 1910px) {

  .main-home {
    margin-right: 13.2vw;
    margin-left: 13.2vw;
  }
  .ohmyfood{
    font-size: 4vh;
  }
  footer{
    font-size: 2vh;
  }
  .sommaire {
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    min-width: 374px;
    max-width: 570px;
    &__liens{
      width: 29vw;
      min-width: 180px;
      max-width: 222px;
      height: 42vw;
      min-height: 260px;
      max-height: 322px;
      font-size: 1.5rem;
    }
  }
  .prochainement {
    font-size: 3rem;
    min-width: 300px;
    height: 6.3vh;
  }

  .chicalafrancaise {
    font-size: 1.1rem;
  }
}

@media screen AND (min-width: 1911px) {
  .main-home {
    margin-right: 7.5vw;
    margin-left: 7.5vw;
  }
  .ohmyfood{
    font-size: 6vh;
  }
  footer{
    font-size: 3vh;
  }
  .sommaire {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    &__liens {
      width: 19vw;
      min-width: 170px;
      max-width: 400px;
      height: 27vw;
      min-height: 260px;
      max-height: 550px;
      font-size: 2.5rem;
      margin-bottom: 0;
      margin-right: 2vw;
    }
  }
  .prochainement {
    font-size: 3rem;
    min-width: 400px;
    max-width: 600px;
    height: 6.3vh;
  }

  .chicalafrancaise {
    font-size: 2rem;
  }
}

// Media Querries pour les pages menus

@media screen AND (min-width: 510px){
  .menu{
    width: 490px;
    height: 690px;
    margin: 2rem auto 0 auto;
    padding-bottom: 0;
  }

  .pagemenu-titre{
    font-size: 3rem;
  }
  .separation {
    width: 30%;
  }
  .restaurant{
    font-size: 4rem;
  }
  .type{
    &__titre{
      &__description{
        width:40%;
        font-size: 1.8rem;
      }
    }
    &__plats{
      margin-top: 1rem;
      margin-right: 2rem;
      margin-left: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      &__prix{
        margin-top: 0;
      }
      &__description{
        font-size: 1.25rem;
      }
    }
  }
}

@media screen AND (min-width: 1910px){
  .main{
    flex-direction: row;
    align-items: center;
  }
  .menu{
    margin: 0;
    height: 73.25vh;
    width: 51.87vh;
    min-height: 83rem;
    min-width: 59rem;
    padding-bottom: 5vh;
  }
  .pagemenu-titre {
    font-size: 6rem;
    margin-right: 0;
    margin-left: 0;
  }
  .restaurant{
    margin-top: 8vh;
    font-size: 5rem;
  }
  
  .type {
    margin-top: 3.75vh;
    margin-right: 3.75vh;
    margin-left: 3.75vh;
    &__titre {
      margin-bottom: 0;
      &__description{
        width: 45%;
        font-size: 2.1rem;
      }
    }
    &__plats {
      margin-top: 1.8vh;
      align-items: center;
      &__description{
        font-size: 1.5rem;
      }
      &__prix{
        font-size: 1.5rem;
      }
    }
  }

  .notemusique-top{
    margin: 6vh auto 0 auto;
  }
  .restaurant-bas{
    font-size: 3.75vh;
    &__svg{
      background-size: 50px;
    }
  }

  .noteenchantee__restaurant{
    margin-top: 1rem;
    font-size: 5rem;
  }
  
}

// Media Querries pour la page mentions légales

@media screen AND (min-width: 1910px){
  .pmentionslegales{
    font-size: 3rem;
    &__h2{
      font-size: 6rem;
    }
    &__paragraph{
      font-size: 3rem;
      &::first-letter{
        font-size: 4rem;
      }
    }
    &__h3{
      font-size: 4rem;
      margin-left: 14rem;
      margin-top: 8rem;
    }
    &__liste{
      margin-left: 8rem;
    }
  }
}