/* 
  Ligne 3 - 68 => mediaquerries pour homepage
  Ligne 70 - 167 => mediaquerries pour pagesmenus
*/

// Media Querries pour la home page

@media screen AND (min-width: 500px) AND (max-width: 900px) {

  .main-home {
    margin-right: 13.2vw;
    margin-left: 13.2vw;
  }

  .sommaire {
    &__carte {
      width: 29vw;
      min-width: 180px;
      max-width: 222px;
      height: 42vw;
      min-height: 260px;
      max-height: 322px;
      font-size: 1.5rem;
    }
  }
  .prochainement {
    font-size: 3rem;
    min-width: 300px;
    height: 6.3vh;
  }

  .chicalafrancaise {
    font-size: 1.1rem;
  }
}

@media screen AND (min-width: 901px) {
  main {
    margin-right: 8vw;
    margin-left: 8vw;
  }

  .sommaire {
    justify-content: space-between;
    align-items: center;
    &__carte {
      width: 19vw;
      min-width: 170px;
      max-width: 400px;
      height: 27vw;
      min-height: 260px;
      max-height: 550px;
      font-size: 1.5rem;
      margin-bottom: 0;
      margin-right: 2vw;
    }
  }
  .prochainement {
    font-size: 3rem;
    min-width: 400px;
    max-width: 600px;
    height: 6.3vh;
  }

  .chicalafrancaise {
    font-size: 1.1rem;
  }
}

// Media Querries pour les pages menus

@media screen AND (min-width: 420px){
  header{
    font-size: 2.5rem;
  }
  footer {
    font-size: 2rem;
  }
  .pagemenu-titre{
    font-size: 3rem;
  }
  .type{
    margin-right: 4vh;
    margin-left: 4vh;
    margin-top: 2vh;
    height: 13.6vh;
    &__titre{
      justify-content: space-between;
      margin-right: 0;
      margin-left: 0;
    }
    &__plats{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__description{
      text-align: left;
      }
    }
  }
}

@media screen AND (min-width: 525px){
  .menu-v2{
    height: 66vh;
    width: 47vh;
    margin-right: auto;
    margin-left: auto;
  }
  .type{
    margin-bottom: 1vh;
    &__titre{
      &__description{
        font-size: 2rem;
      }
    }
    &__plats{
      &__description{
        font-size: 1.3rem;
      }
      &__prix{
        font-size: 1.4rem;
      }
    }
  }

  .restaurant{
    font-size: 3rem;
    &__bas{
      font-size: 2rem;
      &::before{
        left: -1rem;
        top: 0;
      }
    }
  }
}

@media screen AND (min-width: 1024px){
  .main-v2{
    flex-direction: row;
    align-items: center;
  }
  .menu-v2{
    margin: 0;
    height: 73.25vh;
    width: 51.87vh;
  }
  .pagemenu-titre {
    font-size: 3.5rem;
    margin-right: 0;
    margin-left: 0;
  }
  .restaurant{
    font-size: 4rem;
    &__bas{
      font-size: 3rem;
      &::before{
        left: -3rem;
        top: 0;
      }
    }
  }
}