footer {
  width: 100%;
  background-color: $color-secondary;
  min-height: 6.3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  font-family: $main-font;
  font-weight: 200;
  font-size: 4vw;
}

.mentionslegales {
  width: 44%;
  color: $color-primary;
  padding-left: 5%;
  text-decoration: none;
}

.contactez-nous {
  width: 44%;
  color: $color-primary;
  padding-right: 5%;
  text-align: right;
  text-decoration: none;
}
