header{
    width: 100%;
    background-color: $color-secondary;
    height: 10.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-family: Montserrat;
    font-size: 80%;
    font-weight: normal;
}