main{
    margin-top: 14.2vh;
    margin-bottom: 10vh;
    margin-left: 8vw;
    margin-right: 8vw;
    min-height: 75.8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}