.main-v2 {
    display: flex;
    flex-direction: column;
  }
  .pagemenu-titre {
    font-size: 2rem;
    font-family: "Montserrat";
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
  }
  .menu-v2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 8px rgb(189, 186, 186);
    margin-top: 2rem;
    padding-bottom: 5rem;
  } 
  .separation{
    height: 1rem;
    width: 30%;
  }
  
  .restaurant {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 400;
    &__bas{
      margin: 2rem auto;
      position: relative;
      font-size: 1.5rem;
      width: 40%;
    }
  }
  
  .type {
    margin-top: 2rem;
    display: flex;
    font-size: 1rem;
    font-weight: 200;
    flex-direction: column;
    justify-content: space-between;
    height: 14rem;
    &__titre {
      display: flex;
      margin-right: 2rem;
      margin-left: 2rem;
      font-size: 1.3rem;
      font-weight: 200;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 2.2rem;
      &__description{
        width: 40%;
        font-size: 1.5rem;
      }
    }
    &__plats {
      &__description {
        margin-top: 0.5rem;
        font-size: 1.2rem;
      }
      &__prix{
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
  }