html {
  font-size: 10px;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  font-size: 1rem;
}

h1 {
  color: #fdcb46;
}

header {
  width: 100%;
  background-color: #579c87;
  min-height: 10.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 100000;
}

footer {
  width: 100%;
  background-color: #579c87;
  min-height: 6.3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1.5rem;
}

.mentionslegales {
  width: 44%;
  color: #fdcb46;
  padding-left: 5%;
  text-decoration: none;
}

.contactez-nous {
  width: 44%;
  color: #fdcb46;
  padding-right: 5%;
  text-align: right;
  text-decoration: none;
}

main {
  margin-top: 14.2vh;
  margin-bottom: 10vh;
  margin-left: 4vw;
  margin-right: 4vw;
  min-height: 75.8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pagemenu-titre {
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}

.menu {
  background-color: #fbdfdc;
  font-family: "Devonshire";
  color: #3d1319;
  margin: 30px 8vw 0 8vw;
  height: 618px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.menu__svg-top {
  width: 8%;
  margin: 0 auto;
}
.menu__restaurant {
  font-size: 2rem;
  margin: 0 auto;
  font-weight: 300;
}
.menu__categorie {
  font-family: "Kalam";
  font-weight: 200;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 23%;
}
.menu__categorie__titre {
  font-weight: 300;
  font-size: 1.4rem;
  position: relative;
  height: 1.4rem;
  width: 10rem;
}
.menu__categorie__titre::before {
  content: url(/img/separateur-n-enchantee.svg);
  display: block;
  height: 1rem;
  width: 7.5rem;
  position: absolute;
  left: -8rem;
  bottom: 0.5rem;
}
.menu__categorie__titre::after {
  content: url(/img/separateur-n-enchantee.svg);
  display: block;
  height: 1rem;
  width: 7.5rem;
  position: absolute;
  right: -8rem;
  bottom: 0.5rem;
}
.menu__restaurant-petit {
  margin: 0 auto;
  font-weight: 300;
  position: relative;
}
.menu__restaurant-petit::before {
  content: url(/img/note-de-musique-home.svg);
  display: block;
  position: absolute;
  left: -3rem;
}

.sommaire {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1rem;
}
.sommaire__carte {
  width: 38.7vw;
  max-width: 145px;
  height: 56vw;
  max-height: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
  box-shadow: 0px 0px 6px #00000029;
}

.prochainement {
  background-color: #579c87;
  font-family: "Montserrat";
  color: #fdcb46;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  height: 10vw;
  min-height: 30px;
  border-radius: 10px;
  width: 60%;
  min-width: 145px;
  font-size: 1.5rem;
}

.noteenchantee {
  background-color: #fbdfdc;
  font-family: "Devonshire";
  color: #3d1319;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.noteenchantee__h2 {
  position: relative;
  font-weight: 400;
  margin-top: 2%;
}
.noteenchantee__svg {
  width: 10%;
}
.noteenchantee__menu {
  text-transform: uppercase;
  font-family: "Itim";
  display: inline-block;
  margin-top: 10px;
}

.delicedespapilles {
  background-color: #f9f9f9;
  font-family: "Dancing Script";
}
.delicedespapilles__h2 {
  background: -webkit-linear-gradient(-45deg, #1530b7 10%, #56a7e6 60%, #56a7e6 80%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.delicedespapilles__menu {
  font-family: "Chilanka";
  display: inline-block;
  margin-top: 10px;
}

.chicalafrancaise {
  font-family: "Kurale";
  background-color: #fff5ff;
  font-size: 0.8rem;
}
.chicalafrancaise__h2 {
  background: -webkit-linear-gradient(-45deg, #d17122 10%, #a6669a 60%, #6b30eb 80%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chicalafrancaise__menu {
  font-family: "Abril Fatface";
  font-size: 1.3em;
  font-weight: 400;
  display: inline-block;
  margin-top: 10px;
  color: #c67412;
}

.palettedugout {
  font-family: "Kaushan Script";
  background-color: #fdfffd;
}
.palettedugout__h2 {
  background: -webkit-linear-gradient(-45deg, #55924d 10%, #c8fa80 60%, #c8fa80 80%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}
.palettedugout__menu {
  font-family: "Chilanka";
  display: inline-block;
  margin-top: 10px;
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  header {
    font-size: 2.5rem;
  }

  footer {
    font-size: 2rem;
  }

  main {
    margin-right: 13.2vw;
    margin-left: 13.2vw;
  }

  .sommaire__carte {
    width: 29vw;
    min-width: 180px;
    max-width: 222px;
    height: 42vw;
    min-height: 260px;
    max-height: 322px;
    font-size: 1.5rem;
  }

  .prochainement {
    font-size: 3rem;
    min-width: 300px;
    height: 6.3vh;
  }

  .chicalafrancaise {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 901px) {
  header {
    font-size: 2.5rem;
  }

  footer {
    font-size: 2rem;
  }

  main {
    margin-right: 8vw;
    margin-left: 8vw;
  }

  .sommaire {
    justify-content: space-between;
    align-items: center;
  }
  .sommaire__carte {
    width: 19vw;
    min-width: 170px;
    max-width: 400px;
    height: 27vw;
    min-height: 260px;
    max-height: 550px;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-right: 2vw;
  }

  .prochainement {
    font-size: 3rem;
    min-width: 400px;
    max-width: 600px;
    height: 6.3vh;
  }

  .chicalafrancaise {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=style.css.map */
