html {
  font-size: 10px;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-weight: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  font-size: 1rem;
}

h1 {
  color: #fdcb46;
}

header {
  width: 100%;
  background-color: #579c87;
  min-height: 10.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 100000;
}

footer {
  width: 100%;
  background-color: #579c87;
  min-height: 6.3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1.5rem;
}

.mentionslegales {
  width: 44%;
  color: #fdcb46;
  padding-left: 5%;
  text-decoration: none;
}

.contactez-nous {
  width: 44%;
  color: #fdcb46;
  padding-right: 5%;
  text-align: right;
  text-decoration: none;
}

main {
  margin-top: 14.2vh;
  margin-bottom: 10vh;
  margin-left: 4vw;
  margin-right: 4vw;
  min-height: 75.8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-v2 {
  display: flex;
  flex-direction: column;
}

.pagemenu-titre {
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}

.menu-v2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 8px #bdbaba;
  margin-top: 2rem;
}

.notemusique-top {
  margin: 3rem auto 0 auto;
  width: 10%;
}

.separation {
  height: 1rem;
  width: 30%;
}

.restaurant {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 400;
}
.restaurant__bas {
  margin: 2rem auto;
  position: relative;
  font-size: 1.5rem;
  width: 40%;
}

.type {
  margin-top: 2rem;
  display: flex;
  font-size: 1rem;
  font-weight: 200;
  flex-direction: column;
  justify-content: space-between;
  height: 14rem;
}
.type__titre {
  display: flex;
  margin-right: 3rem;
  margin-left: 3rem;
  font-size: 1.3rem;
  font-weight: 200;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 2.2rem;
}
.type__titre__description {
  width: 40%;
  font-size: 1.5rem;
}
.type__plats__description {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.type__plats__prix {
  font-weight: 600;
  font-size: 1.2rem;
}

/*
.pagemenu-titre {
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}

.menu {
  @include noteenchantee;
  box-shadow: 0px 0px 6px rgb(214, 214, 214);
  margin: 30px 5vw 0 5vw;
  height: 618px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: green 2px solid;
  &__svg-top {
    width: 8%;
    margin: 0 auto;
  }
  &__restaurant {
    font-size: 2rem;
    margin: 0 auto 2rem auto;
    font-weight: 300;
  }
  &__titre {
    font-family: "Kalam";
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0 auto;
    position: relative;
    text-align: center;
    height: 1.4rem;
    width: 10rem;
    border: red 2px solid;
    &::before {
      content: url(/img/separateur-n-enchantee.svg);
      display: block;
      height: 1rem;
      width: 20vw;
      position: absolute;
      left: -8rem;
      bottom: 0.5rem;
      border: blue 2px solid;
    }
    &::after {
      content: url(/img/separateur-n-enchantee.svg);
      display: block;
      height: 1rem;
      width: 20vw;
      position: absolute;
      right: -8rem;
      bottom: 0.5rem;
      border: blue 2px solid;
    }
  }
  &__categorie {
    font-family: "Kalam";
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 18%;
    border: yellow 2px solid;
    &__plat {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &__prix {
      font-weight: 400;
    }
  }
  &__restaurant-petit {
    margin: 0 auto;
    font-weight: 300;
    position: relative;
    &::before {
      content: url(/img/note-de-musique-home.svg);
      display: block;
      position: absolute;
      left: -3rem;
    }
  }
}*/
.sommaire {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1rem;
}
.sommaire__carte {
  width: 38.7vw;
  max-width: 145px;
  height: 56vw;
  max-height: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
  box-shadow: 0px 0px 6px #00000029;
}

.prochainement {
  background-color: #579c87;
  font-family: "Montserrat";
  color: #fdcb46;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  height: 10vw;
  min-height: 30px;
  border-radius: 10px;
  width: 60%;
  min-width: 145px;
  font-size: 1.5rem;
}

.noteenchantee {
  background-color: #fbdfdc;
  font-family: "Devonshire";
  color: #3d1319;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.noteenchantee__h2 {
  position: relative;
  font-weight: 400;
  margin-top: 2%;
}
.noteenchantee__svg {
  width: 10%;
}
.noteenchantee__menu {
  text-transform: uppercase;
  font-family: "Itim";
  display: inline-block;
  margin-top: 10px;
}

.delicedespapilles {
  background-color: #f9f9f9;
  font-family: "Dancing Script";
}
.delicedespapilles__h2 {
  background: -webkit-linear-gradient(-45deg, #1530b7 10%, #56a7e6 60%, #56a7e6 80%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.delicedespapilles__menu {
  font-family: "Chilanka";
  display: inline-block;
  margin-top: 10px;
}

.chicalafrancaise {
  font-family: "Kurale";
  background-color: #fff5ff;
  font-size: 0.8rem;
}
.chicalafrancaise__h2 {
  background: -webkit-linear-gradient(-45deg, #d17122 10%, #a6669a 60%, #6b30eb 80%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chicalafrancaise__menu {
  font-family: "Abril Fatface";
  font-size: 1.3em;
  font-weight: 400;
  display: inline-block;
  margin-top: 10px;
  color: #c67412;
}

.palettedugout {
  font-family: "Kaushan Script";
  background-color: #fdfffd;
}
.palettedugout__h2 {
  background: -webkit-linear-gradient(-45deg, #55924d 10%, #c8fa80 60%, #c8fa80 80%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}
.palettedugout__menu {
  font-family: "Chilanka";
  display: inline-block;
  margin-top: 10px;
}

.main-v2 {
  display: flex;
  flex-direction: column;
}

.menu-v2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fbdfdc;
  box-shadow: 0px 0px 8px #bdbaba;
  font-family: "Kalam";
  margin-top: 2rem;
}

.notemusique-top {
  margin: 3rem auto 0 auto;
  width: 10%;
}

.separation {
  height: 1rem;
  width: 30%;
}

.restaurant {
  font-size: 2rem;
  margin-top: 1rem;
  font-family: "Devonshire";
  font-weight: 400;
}
.restaurant__bas {
  margin: 2rem auto;
  font-family: "Devonshire";
  position: relative;
  font-size: 1.5rem;
  width: 40%;
}
.restaurant__bas::before {
  content: url(/img/note-de-musique-home.svg);
  position: absolute;
  left: -0.1rem;
  top: -0.2rem;
}

.type {
  margin-top: 2rem;
  display: flex;
  font-size: 1rem;
  font-weight: 200;
  flex-direction: column;
  justify-content: space-between;
  height: 14rem;
}
.type__titre {
  display: flex;
  margin-right: 3rem;
  margin-left: 3rem;
  font-size: 1.3rem;
  font-weight: 200;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 2.2rem;
}
.type__titre__description {
  width: 40%;
  font-size: 1.5rem;
}
.type__plats {
  font-size: 1.2rem;
}
.type__plats__description {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.type__plats__prix {
  font-weight: 600;
}

/* 
  Ligne 3 - 68 => mediaquerries pour homepage
  Ligne 70 - 167 => mediaquerries pour pagesmenus
*/
@media screen and (min-width: 500px) and (max-width: 900px) {
  .main-home {
    margin-right: 13.2vw;
    margin-left: 13.2vw;
  }

  .sommaire__carte {
    width: 29vw;
    min-width: 180px;
    max-width: 222px;
    height: 42vw;
    min-height: 260px;
    max-height: 322px;
    font-size: 1.5rem;
  }

  .prochainement {
    font-size: 3rem;
    min-width: 300px;
    height: 6.3vh;
  }

  .chicalafrancaise {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 901px) {
  main {
    margin-right: 8vw;
    margin-left: 8vw;
  }

  .sommaire {
    justify-content: space-between;
    align-items: center;
  }
  .sommaire__carte {
    width: 19vw;
    min-width: 170px;
    max-width: 400px;
    height: 27vw;
    min-height: 260px;
    max-height: 550px;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-right: 2vw;
  }

  .prochainement {
    font-size: 3rem;
    min-width: 400px;
    max-width: 600px;
    height: 6.3vh;
  }

  .chicalafrancaise {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 420px) {
  header {
    font-size: 2.5rem;
  }

  footer {
    font-size: 2rem;
  }

  .pagemenu-titre {
    font-size: 3rem;
  }

  .type {
    margin-right: 4vh;
    margin-left: 4vh;
    margin-top: 2vh;
    height: 13.6vh;
  }
  .type__titre {
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
  }
  .type__plats {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .type__plats__description {
    text-align: left;
  }
}
@media screen and (min-width: 525px) {
  .menu-v2 {
    height: 66vh;
    width: 47vh;
    margin-right: auto;
    margin-left: auto;
  }

  .type {
    margin-bottom: 1vh;
  }
  .type__titre__description {
    font-size: 2rem;
  }
  .type__plats__description {
    font-size: 1.3rem;
  }
  .type__plats__prix {
    font-size: 1.4rem;
  }

  .restaurant {
    font-size: 4rem;
  }
  .restaurant__bas {
    font-size: 3rem;
  }
  .restaurant__bas::before {
    left: -1rem;
    top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .main-v2 {
    flex-direction: row;
    align-items: center;
  }

  .menu-v2 {
    margin: 0;
    height: 73.25vh;
    width: 51.87vh;
  }

  .pagemenu-titre {
    font-size: 3.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .restaurant {
    font-size: 4rem;
  }
  .restaurant__bas {
    font-size: 3rem;
  }
  .restaurant__bas::before {
    left: -3rem;
    top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
