.menu-chicfrancaise {
    background-color: #FFF5FF;
    font-family: "Crimson Text";
}
  
  
.restaurant-chicfrancaise {
    font-family: "Kurale";
    margin-top: 5rem;
    margin-bottom: 3rem;
}




