.chicalafrancaise{
    &__menu {
        background-color: #FFF5FF;
        font-family: "Crimson Text";
    }
    &__restaurant {
        font-family: "Kurale";
        margin-top: 5rem;
        margin-bottom: 3rem;
        background: -webkit-linear-gradient(
            -45deg,
            #d17122 10%,
            #a6669a 60%,
            #6b30eb 80%
        );
        @include degradetitre ;
    }
    &__haut{
        color:#C67412;
        fill: #C67412;
        &__soulignement{
            background: linear-gradient(to top,#C67412 0%, #C67412 10%, transparent 10.01%) no-repeat;
            @include soulignementmenu;
        }
    }
    &__middle{
        color: #A56799;
        fill:#A56799;
        &__soulignement{
            background: linear-gradient(to top,#A56799 0%, #A56799 10%, transparent 10.01%) no-repeat;
            @include soulignementmenu;
        }
    }
    &__bas{
        color: #6F4ECC;
        fill: #6F4ECC;
        &__soulignement{
            background: linear-gradient(to top,#6F4ECC 0%, #6F4ECC 10%, transparent 10.01%) no-repeat;
            @include soulignementmenu;
        }
    }
}

