.sommaire {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1rem;
  &__carte {
    width: 38.7vw;
    max-width: 145px;
    height: 56vw;
    max-height: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px #00000029;
  }
}

.prochainement {
  @include bouton;
  margin-left: auto;
  margin-right: auto;
  height: 10vw;
  min-height: 30px;
  border-radius: 10px;
  width: 60%;
  min-width: 145px;
  font-size: 1.5rem;
}

.noteenchantee {
  @include noteenchantee;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  &__h2 {
    position: relative;
    font-weight: 400;
    margin-top: 2%;
  }
  &__svg {
    width: 10%;
  }
  &__menu {
    text-transform: uppercase;
    font-family: "Itim";
    @include texteMenu;
  }
}

.delicedespapilles {
  @include delicepapilles;
  &__h2 {
    background: -webkit-linear-gradient(
      -45deg,
      #1530b7 10%,
      #56a7e6 60%,
      #56a7e6 80%
    );
    @include degradetitre;
  }
  &__menu {
    font-family: "Chilanka";
    @include texteMenu;
  }
}

.chicalafrancaise {
  @include chicfrancaise;
  font-size: 0.8rem;
  &__h2 {
    background: -webkit-linear-gradient(
      -45deg,
      #d17122 10%,
      #a6669a 60%,
      #6b30eb 80%
    );
    @include degradetitre;
  }
  &__menu {
    font-family: "Abril Fatface";
    font-size: 1.3em;
    font-weight: 400;
    @include texteMenu;
    color: #c67412;
  }
}

.palettedugout {
  @include palettegout;
  &__h2 {
    background: -webkit-linear-gradient(
      -45deg,
      #55924d 10%,
      #c8fa80 60%,
      #c8fa80 80%
    );
    @include degradetitre;
    font-weight: 400;
  }
  &__menu {
    font-family: "Chilanka";
    @include texteMenu;
  }
}
