.sommaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__carte{
        width: 145px;
        height: 210px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-bottom: 25px;
        box-shadow: 0px 0px 6px #00000029;
        font-size: 10px;
    }

}

.prochainement{
    @include bouton;
    margin: 0 auto;
    height: 5.2vh;
    border-radius: 10px;
    width: 60%;
    min-width: 145px;
}

.noteenchantee{
    @include noteenchantee;
    &__h2{
        position: relative;
        font-weight: 400;
        &::before{
            content: url(/img/note-de-musique-home.svg);
            position: absolute;
            top: -25px;
            left: 42%;
            display: block;
        }
    }
    &__menu{
        text-transform: uppercase;
        font-family: 'Itim';
        @include texteMenu;
    }
}

.delicedespapilles{
    @include delicepapilles;
    &__h2{
        background: -webkit-linear-gradient(-45deg, #1530b7 10%, #56a7e6 60%, #56a7e6 80%);
        @include degradetitre;
    }
    &__menu{
        font-family: 'Chilanka';
        @include texteMenu;
    }
}

.chicalafrancaise{
    @include chicfrancaise;
    font-size: 8px;
    &__h2{
        background: -webkit-linear-gradient(-45deg, #d17122 10%, #a6669a 60%, #6b30eb 80%);
        @include degradetitre;
    }
    &__menu{
        font-family: 'Abril Fatface';
        font-size: 1.3em;
        font-weight: 400;
        @include texteMenu;
        color: #C67412;
    }
}

.palettedugout{
    @include palettegout;
    &__h2{
        background: -webkit-linear-gradient(-45deg, #55924d 10%, #c8fa80 60%, #c8fa80 80%);
        @include degradetitre;
        font-weight: 400;
    }
    &__menu{
        font-family: 'Chilanka';
        @include texteMenu;
    }
}