.pagemenu-titre {
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}

.menu {
  @include noteenchantee;
  margin: 30px 5vw 0 5vw;
  height: 618px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  &__svg-top {
    width: 8%;
    margin: 0 auto;
  }
  &__restaurant {
    font-size: 2rem;
    margin: 0 auto 2rem auto;
    font-weight: 300;
  }
  &__titre {
    font-family: "Kalam";
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0 auto;
    position: relative;
    text-align: center;
    height: 1.4rem;
    width: 10rem;
    &::before {
      content: url(/img/separateur-n-enchantee.svg);
      display: block;
      height: 1rem;
      width: 7.5rem;
      position: absolute;
      left: -8rem;
      bottom: 0.5rem;
    }
    &::after {
      content: url(/img/separateur-n-enchantee.svg);
      display: block;
      height: 1rem;
      width: 7.5rem;
      position: absolute;
      right: -8rem;
      bottom: 0.5rem;
    }
  }
  &__categorie {
    font-family: "Kalam";
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 18%;
    &__plat {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &__prix {
      font-weight: 400;
    }
  }
  &__restaurant-petit {
    margin: 0 auto;
    font-weight: 300;
    position: relative;
    &::before {
      content: url(/img/note-de-musique-home.svg);
      display: block;
      position: absolute;
      left: -3rem;
    }
  }
}
