.menu-noteenchantee {
  background-color: #fbdfdc;
  font-family: "Kalam";
}

.notemusique-top{
  margin: 3rem auto 0 auto;
  width: 10%;
}

.restaurant-noteenchantee {
  font-family: "Devonshire";
  &__bas{
    font-family: 'Devonshire';
    &::before{
      content: url(/img/note-de-musique-home.svg);
      position: absolute;
      left: -.1rem;
      top: -.2rem;
    }
  }
}




