.noteenchantee {
  &__menu{
  background-color: #fbdfdc;
  font-family: "Kalam";
  color: #3d1319;
  }
  &__restaurant{
  font-family: "Devonshire";
  }
  &__separation{
    fill: #3d1319;
  }
  &__prix{
    font-weight: 600;
  }
  &__titre{
    background: -webkit-linear-gradient(to top,#3d1319 0%,#3d1319 10%, transparent 10.01%, transparent 100%);
    background-size: 0% 100%;
      transition: background-size .3s ease-in-out;
      &:hover{
        background-size: 100% 100%;
      }
  }
}

.notemusique-top{

  width: 4rem;
  height: 4rem;
  margin: 2rem auto 0 auto;
}


.restaurant-bas{
  display: flex;
  font-family: "Devonshire";
  justify-content: center;
  align-items: center;
  margin: 4rem 2rem 0 2rem;
  &__titre{
    margin-left: 1rem;
    font-size: 3rem;
    font-weight: 200;
  }
  &__svg{
    width: 2.4rem;
    height: 2.4rem;
  }

}



