.palettedugout {
  &__menu{
  background-color: #f9f9f9;
  font-family: "Kalam";
  color: #3b3b3b;
  font-weight: lighter;
  }
  &__restaurant{
  font-family: "Kaushan Script";
  margin-top: 5rem;
  margin-bottom: 3rem;
  background: -webkit-linear-gradient(
      -45deg,
      #55924d 30%,
      #7eb137 50%,
      #c8fa80 70%
  );
  @include degradetitre ;
  }
  &__titre{
    background: -webkit-linear-gradient(
      to top,
      #55924d 30%,
      #7eb137 50%,
      #c8fa80 70%
  );
  }
}






