@mixin bouton {
  background-color: $color-secondary;
  font-family: $main-font;
  color: $color-primary;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

@mixin texteMenu {
  display: inline-block;
  margin-top: 10px;
}

@mixin noteenchantee {
  background-color: #fbdfdc;
  font-family: "Devonshire";
  color: #3d1319;
}

@mixin delicepapilles {
  background-color: #f9f9f9;
  font-family: "Dancing Script";
}

@mixin palettegout {
  font-family: "Kaushan Script";
  background-color: #fdfffd;
}

@mixin chicfrancaise {
  font-family: "Kurale";
  background-color: #fff5ff;
}

@mixin degradetitre {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
