@mixin bouton {
  background-color: $color-secondary;
  font-family: $main-font;
  color: $color-primary;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

@mixin soulignementmenu {
  background-size: 0% 100%;
  transition: background-size .3s ease-in-out;
  &:hover{
    background-size: 100% 100%;
  }
}

@mixin pointsuspension{
  margin-left: 1rem;
  font-size: 1rem;
  padding-top: 1.5rem;
}

@mixin wigglefooter{
  &:hover{
  animation: wiggle 200ms cubic-bezier(.4,.1,.6,.9);
  animation-iteration-count: 3;
  }
}

@mixin texteMenu {
  display: inline-block;
  margin-top: 1rem;
}

@mixin noteenchantee {
  background-color: #fbdfdc;
  font-family: "Devonshire";
  color: #3d1319;
}

@mixin delicepapilles {
  background-color: #f9f9f9;
  font-family: "Dancing Script";
}

@mixin palettegout {
  font-family: "Kaushan Script";
  background-color: #fdfffd;
}

@mixin chicfrancaise {
  font-family: "Kurale";
  background-color: #fff5ff;
}

@mixin degradetitre {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
